<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= __('HOME_TITLE') %></title>
</head>
<body>
<h1><%= __('HOME_TITLE') %></h1>
<nav>
    <ul>
        <li><a href="/"><%= __('HOME_TITLE') %></a></li>
        <li><a href="/about"><%= __('ABOUT_TITLE') %></a></li>
        <li><a href="/contact"><%= __('CONTACT_TITLE') %></a></li>
        <li><a href="/form"><%= __('FORM_TITLE') %></a></li>
        <li><a href="/file"><%= __('FILE_TITLE') %></a></li>
    </ul>
</nav>
</body>
